
extend template
block content
    section(class="row")
      //-h2 vista index
      each item in data
        article(class="col-xs-12 col-sm-6 col-md-4 card")
         img(src=item.thumbnailUrl,class="card-img-top",alt="")
         div(class="card-body")
           h2(class="card-body") Album: #{item.album}
           h3 Artist: #{item.artist}
           a(href=`/albums?=${item.id}`, class="btn btn-primary") view album info
       
